# -- REDSHIFT CREDENTIALS
REDSHIFT_USERNAME=""
REDSHIFT_PASSWORD=""
REDSHIFT_HOST=""
REDSHIFT_DB=""
REDSHIFT_PORT=""

# -- BIGQUERY CREDENTIALS
BIGQUERY_APP_CREDENTIALS=""
BIGQUERY_PROJECT_ID=""

# -- MISC
AIRTABLE_API_KEY=""
LOG_LEVEL=""